$height: 32px;
$border-color: #999;
$border-color-light: lighten($border-color, 30%);
$border-color-hover: #666;
$border-radius: 4px;
$box-shadow-color: rgba(0,0,0,0.5);
$red: #F1453D;
$button-height: 32px;
$font-size: 14px;
$button-bg: white;
$button-active-bg: #eee;
$color: #333;
.box-shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}